
.main {
 
    height: 780px;
    width: 1060px;
    margin: auto;
    box-shadow: 0 0 3px 5px #e1e1e1;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}
.left{
	height: 780px;
	width: 360px;
	margin: auto;
	/*box-shadow: 0 0 3px 5px #e1e1e1;*/
	position: absolute;
		top: 0;
		left: 0;		
}
.right{
	height: 780px;
	width: 700px;
	margin: auto;
	background:white;
	box-shadow: 0 0 3px 5px #e1e1e1;
	position: absolute;
		top: 0;
		left: 360px;
}
.left_top{
	height: 80px;
	width: 360px;
	margin: 0;
	background:ghostwhite;
    box-shadow: 0 0 3px 5px #e1e1e1;
	position: absolute;
		top: 0;
		left: 0;
}
.left_down{
	height: 700px;
	width: 360px;
	margin: 0;
    box-shadow: 0 0 3px 5px #e1e1e1;
	position: absolute;
		top: 80px;
		left: 0;
}
.sidebar{
	height: 700px;
	width: 60px;
	margin: 0;
	background:dimgray;

	position: absolute;
		top: 0;
		left: 0;
}
.session_area{
	height: 700px;
	width: 300px;
	margin: 0;
	background:whitesmoke;
    overflow:auto;/*自动滚动条*/
	position: absolute;
		top: 0;
		left:60px;
}
.right_top{
	font-size: 28px;
	height: 80px;
	width: 700px;
	/*margin: 0;*/
	border-bottom:1px solid gainsboro;
	text-align:center;
	position: absolute;
		top: 0;
		left: 0;
}
.message_area{
	height: 450px;
	width: 700px;
	margin: 0;
    overflow:auto;/*自动滚动条*/
	position: absolute;
		top: 80px;
		left: 0;
}
.input_area{
	height: 250px;
	width: 700px;
	margin: 0;
	box-shadow: 0 0 3px 5px #e1e1e1;
	position: absolute;
		top: 530px;
		left: 0;
}


ul{
	padding:0; margin:0;
	list-style-type:none;
	overflow:auto;
}
.session{
	/*	
	box-shadow: 0 0 3px 5px #e1e1e1;*/
	height: 75px;
	background-color: whitesmoke;
	margin-bottom: 1px;
	text-overflow : ellipsis;
	overflow:hidden;
	white-space:nowrap;  
}
img{
	height=60px;
	width=60px;
	float:left;
	padding-top: 8px;	
	margin-left: 10px;
	display: table;
}
.name{
	font-size: 18px;
	padding-top: 8px;	
}
.mini_message{
	font-size: 10px;
	/*height: 30px;*/
	overflow:hidden;
	text-overflow : ellipsis;
	padding-top: 20px;

}
.messege{
	min-height: 40px;
	width: 100%;
	background-color: white;
	margin-bottom: 1px;
	/*white-space:nowrap;  */
}

.message_list{
	
}
.inform{
	width: 100%;
	height: 100%;
	
}

.other_name{
	height: 30%;
	font-size: 18px;
	padding-top: 8px;	
	/*background-color: cornflowerblue;*/
}
.other_message{
	font-size: 15px;
	min-height: 70%;
	max-width: 60%;	
	padding-top: 10px;
	background-color: gainsboro;
	position: relative;
	left:10px;
    display: table;
	text-align: center;
	border-radius: 7px;
}
.my_name{
	height: 30%;
	font-size: 18px;
	padding-top: 8px;
	padding-left:588px ;

	/*background-color: cornflowerblue;*/
}
.my_message{
	font-size: 15px;
	min-height: 70%;
	max-width: 60%;	
	padding-top: 10px;
	background-color: gainsboro;
	position: relative;
	left:563px;
    display: table;
	text-align: center;
	border-radius: 7px;
}
.my_message:after{
	content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    border: 8px solid transparent;
	    position: absolute;
	    top: 7px;
}
.my_message:after{
	   border-left: 8px solid gainsboro;
	   right: -16px;
}
.other_message:before{
	content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    border: 8px solid transparent;
	    position: absolute;
	    top: 7px;
}
.other_message:before{
	   border-right: 8px solid gainsboro;
	   left: -16px;
}
.other_message>span{
	padding: 0 10px;
}
#text{
	font-size: 15px;
	min-height: 200px;
	min-width: 695px;
	overflow: auto;
	border-style:none; 
}
#send{
	float: right;

}
.time{
	font-size: 10px;
	width: 20%;
	background-color:thistle ;
	text-align: center;
	border-radius: 7px;
	position: relative;
	left: 40%;

}
.my_img{
	height=60px;
	width=60px;
	float:right;
	padding-top: 8px;	
	margin-right: 10px;
	display: table;
}